*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

.mr-5{
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.cleanBoth {
    clear: both;
}